*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

.sect-1{
    background: #390132;
    background-image: url(/PTF-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;

    h1{
        font-size: 4rem;
        color: #fff;
        text-align: left;
        font-weight: 600;
    }
    .intro{    
        p{
        color: #fff;

            span{
                font-weight: 600;
            }
        }

        .connect{
            h4{
                color: #fff;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: .2rem;
            }
    
            margin-top: 1.5rem;
    
            a{
                margin-bottom: .3rem;
                .icon{
                    height: 46px;
                    width: 46px;
                    border: 1px solid #AE6DAB;
                    margin-right: .45rem;
                    //display: inline-flex;
                    //justify-content: center;
                    //align-items: center;
                    padding: .5rem;
                    font-size: 1rem;
                    border-radius: 50%;
                    //transition: color .5s ease;
    
                    &:hover{
                        background: #AE6DAB;
                    } 
                }
            }
        }
    }
}
.sect-2{
    background: #AE6DAB;
    padding: 1rem;

    h3{
        font-size: 2rem;
        border-bottom: 1px solid #fff;
        color: #390132;
        text-align: left;
        font-weight: 600;
    }

    ul{
        padding: 1rem;
    }

    img{
        max-width: 100%;
        object-fit: cover;
        padding: 0;
        border-radius: .5rem;
    }
}

.sect-3{
    background: #A89EFF;
    padding: 1rem;

    h3{
        font-size: 2rem;
        border-bottom: 1px solid #fff;
        color: #390132;
        text-align: left;
        font-weight: 600;
    }

    ul{
        padding: 1rem;

        li{
            span{
                font-weight: 600;
            }
        }
    }

    img{
        max-width: 100%;
        object-fit: contain;
        padding: 0;
        border-radius: .5rem;
    }
}

.sect-4{
    background: #AE6DAB;
    padding: 1rem;

    h3{
        font-size: 2rem;
        border-bottom: 1px solid #fff;
        color: #390132;
        text-align: left;
        font-weight: 600;
    }

    ul{
        padding: 1rem;

        li{
            span{
                font-weight: 600;
            }
        }
    }

    img{
        max-width: 100%;
        object-fit: contain;
        padding: 0;
        border-radius: .5rem;
    }
}

.sect-5{
    background: #A89EFF;
    padding: 1rem;

    h3{
        font-size: 2rem;
        border-bottom: 1px solid #fff;
        color: #390132;
        text-align: left;
        font-weight: 600;
    }

    ul{
        padding: 1rem;

        li{
           font-weight: 600;
        }
    }
}

.sect-6{
    background: #AE6DAB;
    padding: 1rem;

    h3{
        font-size: 2rem;
        border-bottom: 1px solid #fff;
        color: #390132;
        text-align: left;
        font-weight: 600;
    }

    ul{
        padding: 1rem;

        li{
           font-weight: 500;
        }
    }

    img{
        max-width: 100%;
        object-fit: contain;
        padding: 0;
        border-radius: .5rem;
    }
}

.sect-7{
    background: #390132;
    padding: 1rem;

    footer{
        h3{
            font-size: 2rem;
            border-bottom: 1px solid #fff;
            text-align: left;
            font-weight: 600;
        }

        .grid-footer{
            .main-ctc{
                ul{
                    h4{
                        color: #AE6DAB;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
    
                    li{
                        list-style-type: none;
    
                        span{
                            font-weight: 500;
                        }
                    }
                }
            }
    
            .media-ctc{
                h4{
                    color: #AE6DAB;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
    
                margin-top: 1.5rem;
    
                a{
                    .icon{
                        height: 46px;
                        width: 46px;
                        border: 1px solid #AE6DAB;
                        margin-right: .45rem;
                        //display: inline-flex;
                        //justify-content: center;
                        //align-items: center;
                        padding: .5rem;
                        font-size: 1rem;
                        border-radius: 50%;
                        //transition: color .5s ease;
    
                        &:hover{
                            background: #AE6DAB;
                        } 
                    }
              
                }
            }
    
            .form-ctc{
                margin-top: 1.5rem;
    
                h4{
                    color: #AE6DAB;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
    
                form{
                    input{
                        width: 100%;
                        padding: 10px 0;
                        margin: 5px 0;
                        border-left: 0;
                        border-top: 0;
                        border-right: 0;
                        border-bottom: 1px solid #A89EFF;
                        outline: none;
                        background: transparent;
                        font-size: 1rem;
                        color: #fff;
                        padding: auto 40px;
    
                        &::placeholder{
                            color: #fff;
                        }
                    }  
                    
                    h5{
                        font-size: 1.2rem;
                        color: #AE6DAB;
                        font-weight: 600
                    }
    
                    .name-email{
                        width: 100%;
                        display: grid;
                        grid-column-gap: 1.5rem;
                        grid-template-columns: 1fr 1fr;
                    }
        
                    button{
                        border: 1px solid #A89EFF;
                        border-radius: .2em;
                        padding: .8em 1.5em;
                        font-size: 1rem;
                        background-color: #A89EFF;
                        color: #fff;
                        cursor: pointer;
                        //transition: color .4s ease;
                        outline: none;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}

.footer-bottom{
    background: #AE6DAB;
    text-align: center;
    margin: 0;
    padding: .5rem;
}

@media only screen and (min-width: 768px){
    .sect-1{
        object-fit: contain;

        .intro{
            position: relative;
            .connect{
                position: absolute;
                
            }
        }
        h1{
            font-size: 3rem;
        }
    }

    .sect-2{
        .grid-2{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem;

            ul{
                li{
                    margin-bottom: 4rem;
                    font-size: 1.5rem;
                }
            }

            img{
                object-fit: contain;
                padding: 0;
            }
        }
    }

    .sect-3{
        .grid-3{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem;

            ul{
                li{
                    margin-bottom: .5rem;
                }
            }

            img{
                object-fit: contain;
                padding: 0;
            }
        }
    }

    .sect-4{
        .grid-4{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem;

            ul{
                li{
                    margin-bottom: .5rem;
                }
            }

            img{
                object-fit: contain;
                padding: 0;
            }
        }
    }

    .sect-6{
        .grid-6{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2rem;

            ul{
                li{
                    margin-bottom: .5rem;
                }
            }

            img{
                object-fit: contain;
                padding: 0;
            }
        }
    }

    footer{
        .grid-footer{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
            grid-auto-columns: 1fr;
            grid-column-gap: .5rem;
            grid-row-gap: .5rem;
            grid-template-rows: auto;
    
            .connect{
                i{
                    margin-bottom: .5rem;
                }
            }
        }
    
        ul{
            margin-top: 1.5rem;
        }
    
        h3{
            font-size: 1.5rem;
        }
    }
}